@media screen and (min-width: 1079px){
    body{
        background-color: #faf1e6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2vh 0 4vh 0;
        gap: 10vh;
    }
    


    header{
        display: grid;
        grid-template-columns: minmax(960px , 1128px);
        align-content: center;
        justify-content: stretch;
        gap: 48px;
        padding: 0 16px;
        height: 88vh;
    }

    .header__nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list{
        display: flex;
        gap: 16px;
    }
    .nav__logo_decoration{
        color: #F1A140;
    }
    .menu_icon{
        display: none;
    }
    .header__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
    }
    .header__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        min-width: 504px;
    }
    .header__photo_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        background-color: #FCF9F3;
        padding: 42px 42px 56px 42px;
        border-radius: 20px;
        box-shadow: 2px 4px 4px 0 rgba(28,28,28,0.25);
    }
    .photo_card__pic{
        height: 372px;
        width: 372px;
    }
    
    

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .main__services{
        display: grid;
        grid-template-columns: minmax(960px , 1128px);
        align-content: center;
        justify-content: stretch;
        gap: 48px;
        padding: 0 16px;
        height: 100vh;
    }
    .services__heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services__info{
        display: grid;
        grid-template-columns: repeat(3, minmax(300px ,360px));
        column-gap: 24px;
    }
    .services__info_block{
        padding: 20px;
        background-color: #ECE4D9;
        border-radius: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        box-shadow: 2px 4px 4px 0 rgba(28,28,28,0.25);
    }    
    
    
    .main__about_us{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(478px, 628px));
        grid-template-rows: 10% 90%;
        justify-content: start;
        align-content: center;
        column-gap: 5%;
        height: 100vh;
    }
    .about_us__pic{
        align-self: center;
        width: 100%;
        height: 90vh;
        object-fit: cover;
        border-top-right-radius: 36px;
        border-bottom-right-radius: 36px;
        grid-column: span 1;
        grid-row: span 2;
    }
    .about_us__info{
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 0 16px;
    }
    .about_us__info_block{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    footer{
        display: grid;
        grid-template-columns: minmax(960px , 1128px);
        grid-template-rows: 1fr 2fr;
        align-content: start;
        justify-content: center;
        gap: 48px;
        padding: 0 16px;
    }
    .footer__content{
        display: grid;
        grid-template-columns: repeat(2, minmax(380px, 456px));
        column-gap: 40px;
        justify-content: space-between;
    }
    .footer__contact_form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }
    .footer__input{
        padding: 16px;
        border-radius: 16px;
        background-color: #ECE4D9;
        border: none;
        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        line-height: 20px;
    }
    .footer__input:focus::placeholder{
        color: #1c1c1c;
    }
    .footer__input:focus{
        outline: 2px solid #F1A140;
    }

    .footer__info{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer__contact_info{
        display: grid;
        row-gap: 20px;
    }
    .footer__contact_section{
        display: grid;
        row-gap: 12px;
        justify-content: start;
        align-content: start;
    }
    
    .footer__socials{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12px;
    }
    .footer__icon{
        color: #1c1c1c;
    }
    .footer__icon:hover{
        transition: 0.24s;
        color: #f9aa4a;
    }
}






@media (min-width: 375px) and (max-width: 1079px){
    body{
        background-color: #faf1e6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2vh 0 4vh 0;
        gap: 10vh;
    }
    .no_scroll{
        overflow: hidden;
    }

    header{
        display: grid;
        grid-template-columns: minmax(300px , 876px);
        align-content: center;
        justify-content: center;
        gap: 48px;
        padding: 0 16px;
    }

    .header__nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list{
        display: none;
    }
    .burger_menu{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        background-color: #F1A140;
    }
    .menu_icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%231C1C1C' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 12h16M4 6h16M4 18h16'/%3E%3C/svg%3E");
    }
    .menu_icon__cross{
        z-index: 3;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%231C1C1C' fill-rule='evenodd' d='M11.782 4.032a.575.575 0 1 0-.813-.814L7.5 6.687L4.032 3.218a.575.575 0 0 0-.814.814L6.687 7.5l-3.469 3.468a.575.575 0 0 0 .814.814L7.5 8.313l3.469 3.469a.575.575 0 0 0 .813-.814L8.313 7.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
    .nav__logo_decoration{
        color: #F1A140;
    }

    .header__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8vh;
    }
    .header__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: 80vh;
        flex-grow: 1;
        justify-content: flex-end;
        max-width: 496px;
    }
    .header__photo_card{
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        background-color: #FCF9F3;
        padding: 24px 24px 32px 24px;
        border-radius: 20px;
        box-shadow: 2px 4px 4px 0 rgba(28,28,28,0.25);
        max-width: 496px;
    }
    .photo_card__pic{
        width: 100%;
        object-fit: cover;
    }
    
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 8vh;
        width: 100%;
    }
    .main__services{
        display: grid;
        grid-template-columns: minmax(300px , 100%);
        align-content: center;
        justify-content: center;
        gap: 48px;
    }
    .services__heading{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services__info{
        overflow-x: scroll;
        display: grid;
        grid-template-columns: repeat(3, 100%);
        padding: 16px;
        gap: 16px;
        scrollbar-width: none;
    }
    /* .services__info::-webkit-scrollbar{
        background-color: transparent;
        height: 8px;
    }
    .services__info::-webkit-scrollbar-thumb{
        background-color: #1c1c1c;
        border-radius: 16px;
    } */
    .services__info_block{
        padding: 20px;
        background-color: #ECE4D9;
        border-radius: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        box-shadow: 2px 4px 4px 0 rgba(28,28,28,0.25);
    }    
    
    
    .main__about_us{
        display: grid;
        grid-template-columns: minmax(300px , 876px);
        align-content: center;
        justify-content: center;
        gap: 32px;
        padding: 0 16px;
    }
    .about_us__pic{
        order: 1;
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 16px;
    }
    .about_us__title{
        order: 0;
    }
    .about_us__info{
        order: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .about_us__info_block{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    footer{
        display: grid;
        grid-template-columns: minmax(300px , 876px);
        align-content: center;
        justify-content: center;
        row-gap: 48px;
        padding: 0 16px;
    }
    .footer__content{
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    .footer__contact_form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        flex-grow: 1;
        min-width: 330px;
    }
    .footer__input::placeholder{
        color: #1c1c1c;
    }

    .footer__info{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-grow: 1;
    }
    .footer__contact_info{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer__contact_section{
        display: grid;
        row-gap: 12px;
        justify-content: start;
        align-content: start;
    }
    
    .footer__socials{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12px;
    }
    .footer__icon{
        color: #1c1c1c;
    }
    .footer__icon:hover{
        transition: 0.24s;
        color: #f9aa4a;
    }
}




@media screen and (max-width: 800px) {
    .header__content, .footer__content{
        flex-wrap: wrap;
    }
    .about_us__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 0 16px;
    }
    
}


@media (min-width: 480px) and (max-width: 1079px) {
    .services__info{
        grid-template-columns: repeat(3, minmax(300px, 332px));
    }
}